a{
    color: black;
    text-decoration: none;
    transition: .8s;
    opacity: 1;
    font-weight: 800;
    
}
a:hover{
    color: black;
    opacity: 0.7;
}
.butn{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    transition: 0;
    border: 3px solid #e7e7e7;
    
}
.butn{
    border: 3px solid #dbdbde;
}
/* @media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
   { max-width: 1068px;}
} */
